<div class="col-lg-6 col-md-12 my-2 mx-auto">
  <!-- <iframe src="assets/Vladimir-Antin-CV.pdf" scrolling="no" class="border-0 radius-2"></iframe> -->
  <mat-toolbar>
    <mat-toolbar-row class="row justify-content-between">
      <span class="col">Vladimir Antin CV</span>
      <div class="col">
        <div class="row justify-content-end">
          <a class="btn btn-link text-dark"
              matTooltip="Download PDF"
              matTooltipClass="header-tooltip"
              href="assets/Vladimir-Antin-CV.pdf" download>
            <i class="fas fa-download"></i>
          </a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <pdf-viewer src="assets/Vladimir-Antin-CV.pdf" 
  [render-text]="true" class="cv" [fit-to-page]="true" [original-size]="false" [autoresize]="true"
  [external-link-target]="'blank'"></pdf-viewer>
</div>
