<div class="container-fluid center animated zoomIn mt-5" [ngStyle]="styleDIV">
  <div class="row mb-2 align-self-center">
    <div class="col-lg-3 col-4-md mt-2">
      <img class="img-thumbnail radius-2 shadow-lg" defaultImage="assets/img/load.gif" lazyLoad="assets/img/profile.jpg">
    </div>
    <div class="col-lg-9 bg-light radius-2 opacity-9 mt-2">
        <div class="m-3" *ngIf="contactForm">
            <p class="text-center animated flipInX"><b>Contact Me</b></p>
            <p class="text-black-50 animated zoomInDown">
              <span>
                I'm happy to answer any questions you have or provide you with an estimate.
                Just send me a message in the form below with any questions you may have.
              </span>
            </p>
            <div class="row">
              <div *ngFor="let c of contacts" 
                      class="animated zoomInRight contact text-black-50 col-lg-6 col-md-12">
                <i class="{{c.icon}}"></i>
                <i class="ml-2">{{c.content}}</i>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row justify-content-center m-lg-5 bg-light radius-2 opacity-9" *ngIf="contactForm">
    <form class="col m-4 animated zoomInUp" autocomplete="off" name="sendForm" role="form"
          novalidate #sendForm="ngForm" (submit)="send()">
      <div class="row">
        <div class="col-lg-5 col-sm-12">
          <mat-form-field class="w-100">
            <mat-label>First and Last name</mat-label>
            <input matInput placeholder="First and Last name" name="name"
                   required minlength="2" [(ngModel)]="sendObj.name">
          </mat-form-field>
        </div>
        <div class="col"></div>
        <div class="col-lg-6 col-sm-12">
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email"
                   required minlength="10" [(ngModel)]="sendObj.email">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="w-100 m-2">
        <mat-label>Message</mat-label>
        <textarea cols="20" rows="5" matInput name="text"
                  required minlength="10" [(ngModel)]="sendObj.text"></textarea>
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="sendForm.form.invalid"
              class="btn-lg btn-outline-dark float-right mr-5">
        Send <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
