<div class="container center">
  <div class="row justify-content-center m-5 bg-light" style="opacity: 0.5; border-radius: 2em">
    <div class="col m-4">
      <div class="row">
        <div class="col-5">
          <mat-form-field class="w-100">
            <mat-label>First and Last name</mat-label>
            <input matInput placeholder="First and Last name">
          </mat-form-field>
        </div>
        <div class="col"></div>
        <div class="col-5">
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="w-100 m-2">
        <mat-label>Message</mat-label>
        <textarea cols="20" rows="5" matInput></textarea>
      </mat-form-field>
      <button mat-stroked-button class="btn-lg btn-outline-dark float-right mr-5">
        Send <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
