<div class="container center">
  <div class="row justify-content-center m-5 bg-light" style="opacity: 0.5; border-radius: 2em">
    <form class="col m-4" autocomplete="off" name="sendForm" role="form"
          novalidate #sendForm="ngForm" (submit)="send()">
      <div class="row">
        <div class="col-5">
          <mat-form-field class="w-100">
            <mat-label>First and Last name</mat-label>
            <input matInput placeholder="First and Last name" name="name"
                   required minlength="2" [(ngModel)]="sendObj.name">
          </mat-form-field>
        </div>
        <div class="col"></div>
        <div class="col-5">
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email"
                   required minlength="10" [(ngModel)]="sendObj.email">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="w-100 m-2">
        <mat-label>Message</mat-label>
        <textarea cols="20" rows="5" matInput name="text"
                  required minlength="10" [(ngModel)]="sendObj.text"></textarea>
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="sendForm.form.invalid"
              class="btn-lg btn-outline-dark float-right mr-5">
        Send <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
