<div class="my-5 mx-3 p-3 radius-2 container bg-white vh-75">
  <div class="row justify-content-around">
    <div class="col-4">
      <h3>Messages</h3>
    </div>
    <div class="col-2">
      <button class="btn btn-success rounded-circle" type="button"
              (click)="room.active=!room.active" *ngIf="room.active" matTooltip="Change username">
        <i class="fa fa-user"></i>
      </button>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="!room.active">
    <div class="col-8">
      <form ngForm autocomplete="off" class="row">
        <mat-form-field class="col-10">
          <input matInput placeholder="Your name" maxlength="30" name="text" [(ngModel)]="message.user.username">
        </mat-form-field>
        <button class="col-2 btn btn-link" type="submit" (click)="register()"><mat-icon>send</mat-icon></button>
      </form>

    </div>
  </div>
  <div class="row justify-content-center" *ngIf="room.active">
    <div class="col-12 font-08" id="messages" #messagesTemplate [scrollTop]="changeScroller(messagesTemplate.scrollHeight)">
        <div *ngFor="let m of messages; let i=index" class="row my-1">
          <div class="col-12" *ngIf="message.user.id && (message.user.id!==m.user.id)">
            <img src="/assets/img/user.png" height="16" class="mx-3">
            <span class="text-black-50">{{m.user.username}}</span>
          </div>
          <div class="radius-2 col-6"  matTooltip="{{m.createdAt | date: 'dd.MM.yyyy. HH:mm'}}"
               [ngClass]="{'badge-primary':message.user.id && (message.user.id!==m.user.id),
                'badge-secondary offset-6':message.user.id && (message.user.id===m.user.id)}">
              <span class="float-right">{{m.text}}</span>
          </div>
        </div>
    </div>
    <div class="col-8">
      <form ngForm autocomplete="off" class="row" (keypress)="clickEnter($event)">
        <mat-form-field class="col-10">
          <input type="text" matInput placeholder="Message" name="text" [(ngModel)]="message.text">
        </mat-form-field>
        <button class="col-2 btn btn-link" type="submit" (click)="send()"><mat-icon>send</mat-icon></button>
      </form>
    </div>
  </div>
</div>
