<div class="container my-5 mx-3 p-3 radius-2 bg-white vh-80">
  <div class="row justify-content-center p-3">
    <div class="col-8">
      <mat-form-field class="w-100">
        <input matInput [(ngModel)]="groupName" (keyup)="groupName = groupName.toLowerCase()" type="text" placeholder="Group name" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-12 row justify-content-around">
      <button type="button" class="btn btn-outline-dark" (click)="generateName()">
        <i class="fa fa-random"></i>
        Generate random name
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="createChat()" [disabled]="groupName.length===0">
        <i class="fa fa-plus-circle"></i>
        Create chat
      </button>
      <button mat-mini-fab type="button" class="bg-dark" (click)="login()"><i class="fa fa-sign-in-alt"></i></button>

    </div>
  </div>
  <ul class="list-group" *ngIf="isAdmin()">
    <li class="list-group-item" *ngFor="let g of groups">
      <div class="row">
        <div class="col-8">
          {{g.name}}
        </div>
        <div class="col-4 row justify-content-around">
          <button mat-mini-fab type="button" class="bg-secondary" [routerLink]="['/live-chat', g.name]">Join</button>
          <button mat-mini-fab type="button" class="bg-danger" (click)="deleteOne(g)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </li>
  </ul>
</div>
