<div class="container animated zoomIn mt-5" *ngVar="{text: false} as complete">
  <div class="row bg-dark m-5 p-5 radius-2" *ngFor="let p of projects">
      <mat-card class="col-lg-4 col-md text-center mat-elevation-z4 bg-light-50 rounded" [routerLink]="[p.link]">
          <mat-card-header>
            <mat-card-title>{{p.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="p.img" [ngStyle]="p.style" class="mx-auto img-fluid">
        </mat-card>
    <div class="col text-light mt-2">
      <span ng-typed [ng-typed]="{speed: 20, timeout: 1000, hideCursorOnComplete: true, text: p.text}" (complete)="complete.text=true"></span>
      <div class="row mt-5" *ngIf="complete.text">
        <div class="col-lg-6"></div>
        <div class="col animated fadeInRight">
          <ng-container *ngFor="let item of p.external">
            <button class="btn btn-{{item.color}} m-2" matTooltip="{{item.name}}" (click)="item.onclick()">
                <i class="fab fa-{{item.icon}}"></i>
            </button>    
          </ng-container>
        </div>
      </div>
    </div>
  </div>  
</div>
