button, button:active {
  outline: none;
}
button.active {
  border-bottom: 3px solid white !important;
}

button.active:hover {
  border-radius: unset;
}



.drawer-container {
  background: transparent;
  position: fixed;
}

.drawer-container.open {
  width: 100% !important;
  height: 100% !important;
}

mat-drawer {
  height: 100vh !important;
  width: 50vw !important;
  position: fixed;
  background: rgba(255,255,255, 0.8);
}