<mat-toolbar class="bg-body pb-3">
  <mat-toolbar-row class="row d-none d-md-flex">
    <div class="col-2 text-white mt-2 mb-2">
      <h1>Vladimir Antin</h1>
      <span class="text-white-50 mt-4 mb-4">Full-stack developer</span>
    </div>
    <div class="col-5 center">
      <button class="mx-4 btn btn-dark rounded-circle bg-black" *ngFor="let n of navItems"
          [routerLink]="[n.route]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
         (mouseleave)="n.showHover=false"
         (mouseenter)="n.showHover=true">
        <ng-container *ngIf="!n.showHover">
          <mat-icon *ngIf="n.icon" class="text-white">{{n.icon}}</mat-icon>
          <mat-icon *ngIf="n.customIcon" class="text-white">
            <span [ngClass]="n.customIcon"></span>
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="n.showHover">
          <span class="text-white">{{n.hover}}</span>
        </ng-container>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="row d-flex d-md-none">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="col-2 text-white mt-2 mb-2">
      <h1>Vladimir Antin</h1>
      <span class="text-white-50 mt-4 mb-4">Full-stack developer</span>
    </div>
    <mat-menu #menu="matMenu" class="bg-dark">
      <button mat-menu-item *ngFor="let n of navItems"
              [routerLink]="[n.route]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              (mouseleave)="n.showHover=false"
              (mouseenter)="n.showHover=true">
        <mat-icon *ngIf="n.icon" class="text-white">{{n.icon}}</mat-icon>
        <mat-icon *ngIf="n.customIcon" class="text-white">
          <span [ngClass]="n.customIcon"></span>
        </mat-icon>
        <span class="text-white-50">{{n.hover}}</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
