<div class="container-fluid bg-light" id="project" *ngVar="{text: false} as complete">
  <h1 class="text-center text-primary contact m-2 pb-5">./projects/ng-typed</h1>
  <div class="row pb-5">
    <div class="col-lg-4 offset-lg-2 col-sm-12">
      <code class="animated zoomInUp slower p-4">
        <pre>{{formatJSON()}}</pre>  
      </code>
      <div class="animated zoomInLeft slow center">
          <mat-form-field class="w-100">
              <input matInput placeholder="Speed" [(ngModel)]="obj.speed" type="number">
          </mat-form-field>    
          <mat-form-field class="w-100">
              <input matInput placeholder="Timeout" [(ngModel)]="obj.timeout" type="number">
          </mat-form-field>    
          <mat-form-field class="w-100">
              <textarea matInput placeholder="Text" [(ngModel)]="obj.text" rows="8"></textarea>
          </mat-form-field>    
          <mat-checkbox [(ngModel)]="obj.hideCursorOnComplete" class="w-100">Hide cursor on complete</mat-checkbox>
          <button mat-stroked-button class="rounded w-50" (click)="reset()">Reset</button>    
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <p *ngFor="let i of items">
            <span [ng-typed]="obj" (complete)="complete.text=true">
              {{obj.text}}
            </span>
          </p>        
    </div>  
  </div>
</div>