@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qywax');
  src:  url('fonts/icomoon.eot?qywax#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?qywax') format('truetype'),
  url('fonts/icomoon.woff?qywax') format('woff'),
  url('fonts/icomoon.svg?qywax#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .skill-icon * {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-db .path1:before {
  content: "\e923";
  color: rgb(84, 94, 115);
}
.icon-db .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-db .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-db .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(56, 69, 79);
}
.icon-db .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.icon-db .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.icon-db .path7:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.icon-db .path8:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(145, 186, 225);
}
.icon-db .path9:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.icon-db .path10:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.icon-db .path11:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.icon-db .path12:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(72, 160, 220);
}
.icon-db .path13:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(177, 211, 239);
}
.icon-php .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-php .path2:before {
  content: "\e901";
  margin-left: -1.8544921875em;
  color: rgb(119, 123, 179);
}
.icon-php .path3:before {
  content: "\e902";
  margin-left: -1.8544921875em;
  color: rgb(0, 0, 0);
}
.icon-php .path4:before {
  content: "\e903";
  margin-left: -1.8544921875em;
  color: rgb(255, 255, 255);
}
.icon-php .path5:before {
  content: "\e91f";
  margin-left: -1.8544921875em;
  color: rgb(0, 0, 0);
}
.icon-php .path6:before {
  content: "\e920";
  margin-left: -1.8544921875em;
  color: rgb(255, 255, 255);
}
.icon-php .path7:before {
  content: "\e921";
  margin-left: -1.8544921875em;
  color: rgb(0, 0, 0);
}
.icon-php .path8:before {
  content: "\e922";
  margin-left: -1.8544921875em;
  color: rgb(255, 255, 255);
}
.icon-email:before {
  content: "\e904";
  color: #fff;
}
.icon-skills:before {
  content: "\e905";
  color: #fff;
}
.icon-css .path1:before {
  content: "\e906";
  color: rgb(38, 77, 228);
}
.icon-css .path2:before {
  content: "\e907";
  margin-left: -0.7080078125em;
  color: rgb(41, 101, 241);
}
.icon-css .path3:before {
  content: "\e908";
  margin-left: -0.7080078125em;
  color: rgb(235, 235, 235);
}
.icon-css .path4:before {
  content: "\e909";
  margin-left: -0.7080078125em;
  color: rgb(235, 235, 235);
}
.icon-css .path5:before {
  content: "\e90a";
  margin-left: -0.7080078125em;
  color: rgb(235, 235, 235);
}
.icon-css .path6:before {
  content: "\e90b";
  margin-left: -0.7080078125em;
  color: rgb(0, 0, 0);
}
.icon-css .path7:before {
  content: "\e90c";
  margin-left: -0.7080078125em;
  color: rgb(0, 0, 0);
}
.icon-css .path8:before {
  content: "\e90d";
  margin-left: -0.7080078125em;
  color: rgb(0, 0, 0);
}
.icon-css .path9:before {
  content: "\e90e";
  margin-left: -0.7080078125em;
  color: rgb(255, 255, 255);
}
.icon-git:before {
  content: "\e90f";
  color: #f05133;
}
.icon-html .path1:before {
  content: "\e910";
  color: rgb(228, 77, 38);
}
.icon-html .path2:before {
  content: "\e911";
  margin-left: -0.7080078125em;
  color: rgb(241, 101, 41);
}
.icon-html .path3:before {
  content: "\e912";
  margin-left: -0.7080078125em;
  color: rgb(255, 255, 255);
}
.icon-html .path4:before {
  content: "\e913";
  margin-left: -0.7080078125em;
  color: rgb(235, 235, 235);
}
.icon-html .path5:before {
  content: "\e914";
  margin-left: -0.7080078125em;
  color: rgb(0, 0, 0);
}
.icon-java .path1:before {
  content: "\e915";
  color: rgb(219, 56, 14);
}
.icon-java .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(219, 56, 14);
}
.icon-java .path3:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path4:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path5:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path6:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path7:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path8:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-js .path1:before {
  content: "\e91d";
  color: rgb(247, 223, 30);
}
.icon-js .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-python .path1:before {
  content: "\e927";
  color: rgb(38, 77, 111);
}
.icon-python .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(56, 118, 172);
}
.icon-python .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-python .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(247, 205, 0);
}
.icon-python .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-cv:before {
  content: "\e936";
  color: #fff;
}
