<div class="container-fluid mt-5">
  <div class="row justify-content-center m-lg-5 min-h-60">
    <div *ngFor="let s of skills; let i = index" class="col-12 col-md-6 col-xl-3 animated my-4 skills" [ngClass]="{'zoomInLeft':quotient(i+1)==1, 'zoomInRight':quotient(i+1)==0}">
        <mat-card *ngIf="s!=null" class="m-2 p-3 h-100 text-center">
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon class="mr-3" style="font-size: 2.2em">
                  <span class="pr-3 skill-icon" [ngClass]="s.icon">
                    <span *ngFor="let sp of s.spans" class="{{sp}}"></span>
                  </span>
                </mat-icon>
              </div>
              <mat-card-title>
                <i>{{s.name}}</i>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-3">
              <mat-chip-list *ngIf="s.pattern">
                  <mat-chip *ngFor="let p of s.pattern">{{p}}</mat-chip>
              </mat-chip-list>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="s==null" class="offset-lg-3"></mat-card>
    </div>
  </div>
</div>
