<div class="text-muted">
  <tag tagName="information" [inline]="false" contentClass="ml-4">
    <tag tagName="position" [inline]="false">
      <p class="text-white">
        <span class="ml-5 fa-2x"
              [ng-typed]="text('Full Stack developer')"
              (complete)="complete.title=true"></span>
      </p>
    </tag>
    <tag tagName="languages" [inline]="false" contentClass="ml-4">
      <p class="ml-4" *ngFor="let section of content">
        <tag [tagName]="section.title" [inline]="false" contentClass="ml-4">
          <p class="ml-4" *ngFor="let option of section.children">
            <tag [tagName]="option.tag">
              <span *ngIf="complete[option.after]" class="text-white">
                <span class="mx-2 fa-2x"
                [ng-typed]="text(option.name)"
                (complete)="complete[option.tag]=true; allComplete()"></span>
              </span>
            </tag>
          </p>
        </tag>
      </p>
    </tag>
    <tag tagName="location" [inline]="false" contentClass="ml-4">
      <p class="ml-4">
        <tag tagName="city">
          <span *ngIf="complete.native" class="text-white">
          <span class="mx-2 fa-2x"
                [ng-typed]="text('Novi Sad')"
                (complete)="complete.city=true"></span>
          </span>
        </tag>
      </p>
      <p class="ml-4">
        <tag tagName="country">
          <span *ngIf="complete.city" class="text-white">
          <span class="mx-2 fa-2x"
                [ng-typed]="text('Serbia')"
                (complete)="complete.country=true; allComplete()"></span>
          </span>
        </tag>
      </p>
    </tag>
  </tag>
</div>
