<div class="container-fluid mt-5" id="ebook">
  <div class="row">
    <app-ebook-nav class="col-2 ml-3"></app-ebook-nav>
    <div class="col-lg-9 bg-white radius-2 px-5 col-md-11 mx-md-2" style="opacity: .8">
      <app-ebook-nav-toolbar></app-ebook-nav-toolbar>

      <div class="center f20">
        <mat-slide-toggle color="accent" id="bool_button"
                          [checked]="queryType" (change)="changeQueryType(queryType)">
          {{queryType? 'Boolean Query' : 'Standard Query'}}
        </mat-slide-toggle>
        <br>
        <div *ngIf="!queryType">
          <mat-form-field class="col-md-4 col-sm-8">
            <mat-select placeholder="Field" [(ngModel)]="query.field">
              <mat-option *ngFor="let f of fields" [value]="f" [disabled]="disabledDemo(f)">{{f | uppercase}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-4 col-sm-8">
            <input matInput type="text" placeholder="Search" [(ngModel)]="query.value">
          </mat-form-field>
          <mat-form-field class="col-md-4 col-sm-8">
            <mat-select placeholder="Query" [(ngModel)]="query.numQ">
              <mat-option *ngFor="let q of queries" [value]="q" [disabled]="disabledDemo(q)">{{q}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button mat-fab color="primary" (click)="search()" [disabled]="query.value===''">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div *ngIf="queryType">
          <div *ngFor="let b of boolQuery.queries">
            <mat-form-field>
              <mat-select placeholder="Field" [(ngModel)]="b.field">
                <mat-option *ngFor="let f of fields" [value]="f" [disabled]="disabledDemo(f)">{{f | uppercase}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w30">
              <input matInput type="text" placeholder="Search" [(ngModel)]="b.value">
            </mat-form-field>
            <button mat-mini-fab color="primary" matTooltip="Add new Field" (click)="addField()"
                    [disabled]="boolQuery.queries.length >= 15">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab color="warn" matTooltip="Remove field" (click)="removeField(b)"
                    [disabled]="boolQuery.queries.length == 1">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-slide-toggle color="accent"
                            [checked]="boolQuery.must" (change)="changeQuery(boolQuery.must)">
            {{boolQuery.must? 'Must' : 'Should'}}
          </mat-slide-toggle>
          <br>
          <button mat-fab color="primary" [disabled]="isValidBool()" (click)="search(true)">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <mat-spinner *ngIf="loadingResult"></mat-spinner>
      <div *ngIf="result.length!==0" >
        <mat-list class="mt-5">
          <mat-list-item *ngFor="let r of result" class="content">
            <p mat-line [innerHTML]="title(r)"></p>
            <p mat-line [innerHTML]="keywords(r)"></p>
            <button mat-button color="primary" matTooltip="NOT IN DEMO">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-button color="primary" matTooltip="NOT IN DEMO">
              <mat-icon>file_download</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>

    </div>
  </div>
</div>
