/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/style.css";

.w-40{
  width: 40% !important;
}

.center {
  margin: auto;
  width: 60%;
}


.mat-progress-spinner.dark circle {
  stroke: black !important;
}
.mat-progress-spinner.dark .mat-badge-content {
  background-color: black !important;
}
.mat-progress-spinner.gold circle {
  stroke: gold !important;
}
.mat-progress-spinner.gold .mat-badge-content {
  background-color: gold !important;
  color: black !important;
}
.mat-progress-spinner.red circle {
  stroke: red !important;
}
.mat-progress-spinner.red .mat-badge-content {
  background-color: red !important;
}
.mat-progress-spinner.blue circle {
  stroke: #007bffe0 !important;
}
.mat-progress-spinner.blue .mat-badge-content {
  background-color: #007bffe0 !important;
}
