.mat-tab-label, .mat-tab-label-active{
  min-width: auto !important;
  padding: 0.4rem 1rem !important;
}

.mat-tab-label-active {
  opacity: 1 !important;
  border-bottom: #007bff solid !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: none !important;
}

.mat-tab-label-container, .mat-tab-body {
  z-index: unset !important;
}
