.footer-tooltip {
  font-style: italic;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

.header-tooltip {
  background: none;
  color: black !important;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}
