
$mobile-tablet: 820px;
$mobile: 450px;
$bg-body: url('../assets/img/background.png');


$rating-5: #008a0b;
$rating-4: #3b6e08;
$rating-3: #494008;
$rating-2: #b06100;
$rating-1: #f10000;
