
$mobile-tablet: 800px;

.w-40 {
  width: 40% !important;
}

.h-90 {
  height: 90% !important;
}

.center {
  margin: auto;
  width: 60%;

  @media only screen and (max-width: $mobile-tablet) {
    width: 95%;
    .img-thumbnail {
      width: 40%;
      margin-left: 30%
    }
  }
}

.min-h-60 {
  min-height: 60vh !important;
}

.radius-2{
  border-radius: 2em;
}

.opacity-5 {
  opacity: 0.5;
}

.bg-black {
  background-color: black;
}

.contact:hover {
  text-decoration: underline;
  cursor: pointer;
}

 