<div id="home" *ngVar="{info:false} as complete">
  <div class="container-fluid pb-5 pt-xl-0 pt-lg-4">
    <div class="row justify-content-center">
      <div class="col-md col-sm-12">
        <information (completeChange)="complete.info=$event"></information>
      </div>
      <div class="col-md col-sm-12">
        <div class="mt-3 pt-3 mx-3 px-3">
          <h3 class="text-white font-italic">
            "Any app that can be written in JavaScript, will eventually be written in JavaScript."
          </h3>
          <h4 class="text-muted"> - Jeff Atwood</h4>
          <references [start]="complete.info"></references>
        </div>
      </div>
    </div>
  </div>
</div>
