<!-- <app-projects></app-projects>
<app-skills *ngIf="show.skills"></app-skills>
<app-contactme *ngIf="show.contact"></app-contactme> -->
<div id="home" *ngVar="{work: false} as complete">
    <div class="container pb-5">
        <div class="animated zoomInUp w-100">
            <p class="display-2 bg-blue text-center radius-2">
              <span typingAnimation [typeSpeed]="40" [startDelay]="1000" (complete)="complete.work=true" [hideCursorOnComplete]="true">
                Full Stack Website Developer
              </span>
            </p>
        </div>
        <div class="row" *ngIf="complete.work">
            <div class="animated zoomInLeft slow col-lg-6 col-md-12">
                <p class="display-3 bg-blue text-center radius-2">
                  Novi Sad
                </p>
            </div>
            <div class="animated zoomInRight slow col-lg-6 col-md-12">
                <p class="display-3 bg-blue text-center radius-2">
                  Serbia
                </p>
            </div>                                    
        <app-contactme [styleDIV]="{width:'80%'}" *ngIf="complete.work"></app-contactme>
      </div>
    </div>
</div>
